.TheNavbar{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    min-height: 60px;
    font-size: 32px !important;
}


.title{
    font-family: 'Pacifico', cursive;
    color: black;
    padding: 15px;
  }
  
  .division{
    font-weight: lighter;
    color: black;
  }

  .btn{
    font-size: 32px;
  }